.box-servicios {
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-width: 1px 1px 1px 1px;
    border-color: #e5e5e5;
    border-style: solid;
    background-color: white;
}

#google-map {
    width: 100%;
    height: 450px;
}

.logo-mapa {
    width: 80px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.error {
    background-color: red;
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
}

.loading-contact-logo {}
.loading-contact-logo {width: 150px; text-align: center; padding-top: 90px;}
.loading-contact-loading img {width: 42px !important}

#responseContacto {min-height: 350px}

.saint-link {
    background-color: whitesmoke;
    padding: 50px;
}

.tu-viaje {
    padding: 15px;
    text-align: left;
    color: #383838;
}

.tu-viaje p {
    margin-bottom: 0;
}

.form-checkout {
    padding: 10px;
}

#frmReserva {
    padding: 15px;
}

.logo-mp-checkout {
    background-color: white;
    padding: 15px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 330px;   
    max-width: 300px !important; 
}

.cssload-loading {
    text-align: center;
    padding-top: 10px;
}

.cssload-loading i {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  /*background: rgb(188, 164, 128);*/
  background-color: #74c586;
}
.cssload-loading i:first-child{
  opacity: 0;
  animation:cssload-loading-ani2 0.58s linear infinite;
    -o-animation:cssload-loading-ani2 0.58s linear infinite;
    -ms-animation:cssload-loading-ani2 0.58s linear infinite;
    -webkit-animation:cssload-loading-ani2 0.58s linear infinite;
    -moz-animation:cssload-loading-ani2 0.58s linear infinite;
  transform:translate(-19px);
    -o-transform:translate(-19px);
    -ms-transform:translate(-19px);
    -webkit-transform:translate(-19px);
    -moz-transform:translate(-19px);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(3){
  animation:cssload-loading-ani3 0.58s linear infinite;
    -o-animation:cssload-loading-ani3 0.58s linear infinite;
    -ms-animation:cssload-loading-ani3 0.58s linear infinite;
    -webkit-animation:cssload-loading-ani3 0.58s linear infinite;
    -moz-animation:cssload-loading-ani3 0.58s linear infinite;
}
.cssload-loading i:last-child{
  animation:cssload-loading-ani1 0.58s linear infinite;
    -o-animation:cssload-loading-ani1 0.58s linear infinite;
    -ms-animation:cssload-loading-ani1 0.58s linear infinite;
    -webkit-animation:cssload-loading-ani1 0.58s linear infinite;
    -moz-animation:cssload-loading-ani1 0.58s linear infinite;
}




@keyframes cssload-loading-ani1{
  100%{
    transform:translate(39px);
    opacity: 0;
  }
}

@-o-keyframes cssload-loading-ani1{
  100%{
    -o-transform:translate(39px);
    opacity: 0;
  }
}

@-ms-keyframes cssload-loading-ani1{
  100%{
    -ms-transform:translate(39px);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-loading-ani1{
  100%{
    -webkit-transform:translate(39px);
    opacity: 0;
  }
}

@-moz-keyframes cssload-loading-ani1{
  100%{
    -moz-transform:translate(39px);
    opacity: 0;
  }
}

@keyframes cssload-loading-ani2{
  100%{
    transform:translate(15px);
    opacity: 1;
  }
}

@-o-keyframes cssload-loading-ani2{
  100%{
    -o-transform:translate(19px);
    opacity: 1;
  }
}

@-ms-keyframes cssload-loading-ani2{
  100%{
    -ms-transform:translate(19px);
    opacity: 1;
  }
}

@-webkit-keyframes cssload-loading-ani2{
  100%{
    -webkit-transform:translate(19px);
    opacity: 1;
  }
}

@-moz-keyframes cssload-loading-ani2{
  100%{
    -moz-transform:translate(19px);
    opacity: 1;
  }
}

@keyframes cssload-loading-ani3{
  100%{
    transform:translate(19px);
  }
}

@-o-keyframes cssload-loading-ani3{
  100%{
    -o-transform:translate(19px);
  }
}

@-ms-keyframes cssload-loading-ani3{
  100%{
    -ms-transform:translate(19px);
  }
}

@-webkit-keyframes cssload-loading-ani3{
  100%{
    -webkit-transform:translate(19px);
  }
}

@-moz-keyframes cssload-loading-ani3{
  100%{
    -moz-transform:translate(19px);
  }
}

.hotale-body hr {
  border-color: #ccc;
}

.displayNone {display: none !important;}

.pxay-checkout {cursor: pointer;}

.mercadopago-button {display: none;}

.conte-buscador {
  min-height: 800px;
  padding-top: 100px;
}

		/* Estilos para dispositivos móviles */
		@media screen and (max-width: 480px) {
			.modal-content-promo {
				margin: 10% auto;
				width: 90%;
			}
		}

		/* Estilos para tabletas */
		@media screen and (min-width: 481px) and (max-width: 768px) {
			.modal-content-promo {
				margin: 15% auto;
				width: 70%;
			}
		}

		/* Estilos para pantallas de escritorio */
		@media screen and (min-width: 769px) {
			.modal-content-promo {
				margin: 15% auto;
				width: 27%;
        margin-top: 5%;
			}
		}

		/* Estilos generales */
		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgb(0,0,0);
			background-color: rgba(0,0,0,0.6);
		}
		.modal-content-promo {
			background-color: #fefefe;
			padding: 0 10px 10px 10px;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}
		.modal-content-promo.show {
			opacity: 1;
		}
		.close {
			color: white;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}
		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}

    /* float whatspApp */

.floating-wpp {
  position: fixed;
  bottom: 15px;
  font-size: 14px;
  transition: bottom 0.2s;
  right: 15px !important;
}

.floating-wpp .floating-wpp-button {
  position: relative;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
  transition: box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
}

.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.floating-wpp:hover {
  bottom: 17px;
}

.floating-wpp:hover .floating-wpp-button {
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4);
}

.floating-wpp .floating-wpp-popup {
  /*border: 2px solid white;*/
  border-radius: 6px;
  background-color: #FFF;
  position: absolute;
  overflow: hidden;
  padding: 0;
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
  width: 0px;
  height: 0px;
  bottom: 0;
  opacity: 0;
  transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
  transform-origin: bottom;
}

.floating-wpp .floating-wpp-popup.active {
  padding: 0 12px 17px 12px;
  width: 280px;
  height: auto;
  bottom: 82px;
  opacity: 1;
  right: 0;
}

.floating-wpp .floating-wpp-popup .floating-wpp-message {
  background-color: white;
  /*padding: 8px;*/
  border-radius: 0px 5px 5px 5px;
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);*/
  opacity: 0;
  transition: opacity 0.2s;
}

.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
  opacity: 1;
  transition-delay: 0.2s;
}

.floating-wpp .floating-wpp-popup .floating-wpp-head {
  text-align: right;
  color: white;
  margin: 0 -15px 10px -15px;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.floating-wpp .floating-wpp-input-message {
  background-color: white;
  margin: 0 -15px -15px -15px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.floating-wpp .floating-wpp-input-message textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

.floating-wpp .floating-wpp-btn-send {
  margin-left: 12px;
  font-size: 0;
  cursor: pointer;
}
